*{
    padding:6;
    margin: 2;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}

Hr {color:aliceblue;}
            Hr {font-size: 50pt;}
            P {margin-left:5px;}
            Body {background-color:powderblue;
            background-size: cover;
        }
        .body:after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color:powderblue;
        }
ul{
display: flex;
justify-content:end;
}
li{
background-color: 1px solid white;
list-style-type:none;
padding: 10px;
margin: 5px;}
 li a {color:azure;
    border: 1px solid;
    text-decoration: none;
}
a:hover {
    background-color: powderblue;
    color: black;
}
.active{    background-color: powderblue;
    color: black;}

b{
        color:black;
        font-size:200% ;
        display: flex;
        padding: 100px 0px;  
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-image: url(./img/banner\ 1\ \(2\).jpeg);
    }
h1{
        border: transparent;
        padding: 5px;
        font-size: 50px;
        font-weight: 400;
        background-color: powderblue;
        color: black;
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
    }     
    section{
        padding: 30px 0;
    }
    b1{
        display: flex;
        justify-content: center;
        align-items: center;
        color:black;
    }
p{color: black;} 
h1{color:black;}
h3{font-size: 25;}
h4{font-size: 150%;}